// theme colors
$clr-primary: #fcc400;
$clr-primary--400: #fc7300;
$clr-secondary: #212121;
$clr-text-gray: #e5e5e5;
$clr-black: #000000;
$clr-white: #fff;
$clr-link: #e4e4e4;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;
$spacer: 1rem;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// transition
$transition: all 350ms ease;

// font sizes
$base-font-size: 1rem !default;

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 1rem;
}

// bottom spacer for al content in main element
#main > * {
  --bottom-spacer: 2vw;
  margin-bottom: var(--bottom-spacer);
}
